/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-Jul-2017, 20:20:40
    Author     : webapp
*/

body{
    background-color: #fcf3bc;
    height: 100%;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    color: #000000;
}

h1{
    font-size: 2em;   
}

.placeholder{
    color: #c0c0c0;
    font-family: 'Roboto Slab', serif;
}